body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.right ul {
    list-style: none;
    display: flex;
}

.left {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    padding: 10px;
}

.a1 {
    font-family: 'Times New Roman', Times, serif;
}

.a2 {
    opacity: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.right ul {
    list-style: none;
    display: flex;
}

.right li {
    margin-right: 50px;
}

.p1 {
    position: absolute;
    left: 170px;
    top: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.p1_1 {
    position: absolute;
    left: 170px;
    top: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.p1_2 {
    position: absolute;
    left: 170px;
    top: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.p8 {
    position: absolute;
    border: 7px solid white;
    right: 700px;
    top: 150px;
    border-radius: 50%;
}

.p2 {
    position: absolute;
    background-color: white;
    right: 706px;
    top: 162px;
    width: 1px;
    height: 200px;
}

.p3 {
    position: absolute;
    font-size: 25px;
    left: 600px;
    top: 120px;
    color: aqua;
}

.p4 {
    position: absolute;
    left: 615px;
    top: 165px;
    font-size: 17px;
}

.p5 {
    position: absolute;
    left: 615px;
    top: 185px;
    font-size: 15px;
    opacity: 70%;
}

.location-info {
    position: absolute;
    display: flex;
    top: 220px;
    left: 605px;
    align-items: center;
    font-size: 15px;
}

.fa {
    font-size: 20px;
    margin-right: 8px;
}

.p6 {
    position: absolute;
    top: 255px;
    left: 605px;
    font-size: 20px;
}

.p7 {
    position: absolute;
    top: 290px;
    left: 605px;
    font-size: 15px;
}

.p8 {
    position: absolute;
    border: 7px solid white;
    right: 700px;
    top: 380px;
    border-radius: 50%;
}

.p2_1 {
    position: absolute;
    background-color: white;
    right: 706px;
    top: 350px;
    width: 1px;
    height: 250px;
}

.p2_12 {
    position: absolute;
    border: 7px solid white;
    right: 700px;
    top: 150px;
    border-radius: 50%;
}

.p3_1 {
    position: absolute;
    font-size: 25px;
    left: 600px;
    top: 350px;
    color: aqua;
}

.p4_1 {
    position: absolute;
    left: 615px;
    top: 400px;
    font-size: 17px;
}

.p5_1 {
    position: absolute;
    left: 615px;
    top: 420px;
    font-size: 15px;
    opacity: 70%;
}

.location-info1 {
    position: absolute;
    display: flex;
    top: 450px;
    left: 605px;
    align-items: center;
}

.fa2 {
    font-size: 20px;
    margin-right: 8px;
}

.p7_1 {
    position: absolute;
    top: 490px;
    left: 605px;
    font-size: 15px;
}

.p8_2 {
    position: absolute;
    border: 7px solid white;
    right: 700px;
    top: 580px;
    border-radius: 50%;
}

.p2_2 {
    position: absolute;
    background-color: white;
    right: 706px;
    top: 550px;
    width: 1px;
    height: 250px;
}

.p3_2 {
    position: absolute;
    font-size: 25px;
    left: 600px;
    top: 550px;
    color: aqua;
}

.p4_2 {
    position: absolute;
    left: 615px;
    top: 600px;
    font-size: 17px;
}

.p5_2 {
    position: absolute;
    left: 615px;
    top: 620px;
    font-size: 15px;
    opacity: 70%;
}

.location-info3 {
    position: absolute;
    display: flex;
    top: 650px;
    left: 605px;
    align-items: center;
    font-size: 17px;
}

.fa4 {
    font-size: 20px;
    margin-right: 8px;
}

.p7_2 {
    position: absolute;
    top: 690px;
    left: 605px;
    font-size: 15px;
}

.copyright-footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
    position: absolute;
    width: 96.5%;
    top: 850px;
}

/* Responsiviteti */

@media screen and (max-width: 600px) {
    .bar {
        width: 44px;
        height: 3px;
        margin: 5px 27px;
    }

    .menu-icon {
        display: block;
        position: relative;
        top: 26px;
        left: 0;
    }

    .main-content {
        left: 5px;
        top: 91px;
    }

    .right {
        z-index: 10;
        padding: 20px;
        display: none;
        width: 50%;
        height: 100%;
        position: absolute;
        background-color: #222;
        top: 60px;
        left: 0;

    }

    .right.show {
        display: flex;
    }

    .right ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
    }

    .navbar {
        padding: 5px 5px;
    }

    .right li {
        margin-right: 10px;
        padding-bottom: 20px;
    }

    .left {
        font-size: 31px;
        padding-top: 21px;
    }

    .p1 {
        left: 148px;
        top: 106px;
        font-size: 20px;
    }

    .p1_1 {
        left: 148px;
        top: 106px;
        font-size: 20px;
    }

    .p1_2 {
        left: 148px;
        top: 106px;
        font-size: 20px;
    }

    .p3 {
        left: 94px;
        top: 180px;
    }

    .p4 {
        left: 119px;
        top: 221px;
    }

    .p5 {
        left: 116px;
        top: 241px;
    }

    .location-info {
        top: 272px;
        left: 95px;
        font-size: 17px;
    }

    .fa {
        font-size: 20px;
    }

    .p6 {
        top: 310px;
        left: 84px;
    }

    .p7 {
        top: 355px;
        left: 88px;
        font-size: 12px;
    }

    .p3_1 {
        left: 94px;
        top: 460px;
    }

    .p4_1 {
        left: 119px;
        top: 500px;
    }

    .p5_1 {
        left: 116px;
        top: 520px;
    }

    .location-info1 {
        top: 560px;
        left: 95px;
        font-size: 17px;
    }

    .fa2 {
        font-size: 20px;
    }

    .p7_1 {
        top: 600px;
        left: 88px;
        font-size: 12px;
    }

    .p3_2 {
        left: 94px;
        top: 700px;
        font-size: 22px;
    }

    .p4_2 {
        left: 119px;
        top: 740px;
    }

    .p5_2 {
        left: 123px;
        top: 760px;
    }

    .location-info3 {
        top: 780px;
        left: 95px;
        font-size: 18px;
    }

    .fa4 {
        font-size: 20px;
    }

    .p7_2 {
        top: 830px;
        left: 88px;
        font-size: 12px;
    }

    .p8 {
        right: 377px;
        top: 194px;
    }

    .p2 {
        right: 383px;
        top: 207px;
        height: 280px;
    }

    .p2_12 {
        right: 377px;
        top: 480px;
    }

    .p2_1 {
        right: 383px;
        top: 490px;
    }

    .p8_2 {
        right: 377px;
        top: 740px;
    }

    .p2_2 {
        right: 383px;
        top: 740px;
    }

    .copyright-footer {
        width: 90.5%;
        top: 1015px;
    }
}

@media screen and (max-width:400px) {
    .bar {
        width: 34px;
        height: 3px;
        margin: 4px 10px;
    }

    .menu-icon {
        display: block;
        top: 6px;
        left: 2px;
    }

    .main-content {
        left: 5px;
        top: 91px;
    }

    .right {
        padding: 20px;
        z-index: 50;
        display: none;
        flex-direction: column;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #222;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .right.show {
        display: flex;
    }

    .right ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
    }

    .navbar {
        padding: 5px 5px;
    }

    .right li {
        margin-right: 10px;
        padding-bottom: 20px;
    }

    .left {
        display: flex;
        font-size: 25px;
        font-weight: bold;
        margin-left: 50px;
        padding: 10px;
    }

    .p1 {
        left: 105px;
        top: 110px;
        font-size: 20px;
    }

    .p8 {
        right: 350px;
        top: 194px;
    }

    .p2 {
        right: 357px;
        top: 207px;
    }

    .p3 {
        font-size: 21px;
        left: 60px;
        top: 181px;
    }

    .p4 {
        left: 76px;
        top: 215px;
        font-size: 14px;
    }

    .p5 {
        left: 76px;
        top: 232px;
        font-size: 11px;
    }

    .location-info {
        top: 251px;
        left: 52px;
        font-size: 12px;
    }

    .p6 {
        top: 290px;
        left: 43px;
        font-size: 17px;
    }

    .p7 {
        top: 324px;
        left: 46px;
        font-size: 11px;
    }

    .p7_1 {
        top: 500px;
        left: 43px;
        font-size: 12px;
    }

    .p1_1 {
        left: 105px;
        top: 109px;
        font-size: 20px;
    }

    .p2_12 {
        right: 350px;
        top: 399px;
    }

    .p2_1 {
        right: 357px;
        top: 403px;
    }

    .p3_1 {
        font-size: 23px;
        left: 58px;
        top: 400px;
    }

    .p4_1 {
        left: 76px;
        top: 434px;
        font-size: 15px;
    }

    .p5_1 {
        left: 76px;
        top: 452px;
        font-size: 11px;
    }

    .location-info1 {
        top: 471px;
        left: 50px;
        font-size: 12px;
    }

    .p8_2 {
        right: 351px;
        top: 586px;
    }

    .p2_2 {
        right: 357px;
        top: 606px;
    }

    .p1_2 {
        left: 105px;
        top: 109px;
        font-size: 20px;
    }

    .p3_2 {
        font-size: 22px;
        left: 58px;
        top: 593px;
    }

    .p4_2 {
        left: 67px;
        top: 626px;
        font-size: 15px;
    }

    .p5_2 {
        left: 72px;
        top: 648px;
        font-size: 12px;
    }

    .location-info3 {
        top: 669px;
        left: 53px;
        font-size: 14px;
    }

    .p7_2 {
        position: absolute;
        top: 709px;
        left: 38px;
        font-size: 12px;
    }

    .p7_2 {
        top: 709px;
        left: 38px;
        font-size: 12px;
    }

    .copyright-footer {
        top: 894px;
    }
}