
body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.menu-icon {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}
.right ul{
    list-style: none;
    display: flex;
}
.left{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    padding:10px;
}
.a1{
    font-family: 'Times New Roman', Times, serif;
}
.a2{
    opacity: 50%; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.right ul{
    list-style: none;
    display: flex;
}
.right li{
    margin-right: 50px;
}
.p{
    position: absolute; 
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    top: 100px; 
    left: 500px;
}
.foto1{
    position: absolute; 
    top: 250px; 
    left:20px;
}
.h2foto1{
    position: absolute; 
    top: 320px;
    left: 270px;
    font-size: 25px;
}
.pfoto1{
    position: absolute;
    top: 390px;
    left: 270px;
    font-size: 15px;
}
.foto2{
    position: absolute; 
    top: 300px; 
    right: 330px;
    width: 250px;
    height: 250px;
}
.h2foto2{
    position: absolute;
    top: 320px;
    left: 970px;
    font-size: 25px;
}
.pfoto2{
    position: absolute;
    top: 390px;
    left: 970px;
    font-size: 15px;

}
.foto3{
    position: absolute; 
    top: 620px; 
    left: 80px;
    width: 150px;
    height:250px;
}
.h2foto3{
    position: absolute;
    top: 670px;
    left: 270px;
    font-size: 25px;
}
.pfoto3{
    position: absolute;
    top: 730px;
    left: 270px;
    font-size: 15px;
}
.copyright-footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
    position: absolute;
    width: 96.5%;
    top: 900px;
}

@media  screen and (max-width: 600px) {
    .bar {
        width: 44px;
        height: 3px;
        margin: 5px 27px;
    }
    .menu-icon {
        display: block;
        position: relative;
        top: 26px;
        left: 0;
    }
    .main-content {
        left: 5px;
        top: 91px;
    }
   .right {
        padding: 20px;
        display: none;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 60px;
        left: 0;
      
    }  
    .right.show {
        display: flex;
    }
    
    .right ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
    }
    .navbar {
        padding: 5px 5px;
    }
    .right li {
        margin-right: 10px;
        padding-bottom:20px ;
    }
    .left {
        font-size: 31px;
        padding-top: 21px;
    }
    .p {
        font-size: 41px;
        top: 59px;
        left: 100px;
    }
    .foto1 {
        position: absolute;
        top: 151px;
        left: -49px;
    }
    .h2foto1 {
        position: absolute;
        top: 244px;
        left: 168px;
        font-size: 18px;
    }
    .pfoto1 {
        position: absolute;
        top: 293px;
        left: 187px;
        font-size: 11px;
    }
    .foto2 {
        top: 481px;
        right: 237px;
        width: 200px;
        height: 200px;
    }
    .h2foto2 {
        top: 516px;
        left: 224px;
        font-size: 25px;
    }
    .pfoto2 {
        position: absolute;
        top: 577px;
        left: 224px;
        font-size: 12px;
    }
    .foto3 {
        top: 681px;
        left: 3px;
    }
    .h2foto3 {
        top: 739px;
        left: 197px;
    }
    .pfoto3 {
        top: 792px;
        left: 165px;
        font-size: 11px;
    }   
    .copyright-footer {
        width: 89.5%;
        top: 900px;
    }
}
@media screen and (max-width:400px){
    .bar {
        width: 34px;
        height: 3px;
        margin: 4px 10px;
    }
    .menu-icon {
        display: block;
        top: 6px;
        left: 2px;
    }
    .main-content {
        left: 5px;
        top: 91px;
    }
   
    .right {
        padding: 20px;
        z-index: 50;
        display: none;
        flex-direction: column;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #222;
        align-items: flex-start;
        justify-content: flex-start; 
    }
    
    .right.show {
        display: flex;
    }
    
    .right ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
    }
    .navbar {
        padding: 5px 5px;
    }
    .right li {
        margin-right: 10px;
        padding-bottom:20px ;
    }
    .left {
        display: flex;
        font-size: 25px;
        font-weight: bold;
        margin-left: 50px;
        padding: 10px;
    }
    .p {
        font-size: 41px;
        top: 64px;
        left: 81px;
    }
    .foto1 {
        position: absolute;
        top: 151px;
        left: -49px;
    }
    .h2foto1 {
        position: absolute;
        top: 244px;
        left: 135px;
        font-size: 18px;
    }
    .pfoto1 {
        position: absolute;
        top: 293px;
        left: 151px;
        font-size: 10px;
    }
    .foto2 {
        top: 481px;
        right: 203px;
        width: 200px;
        height: 200px;
    }
    .h2foto2 {
        top: 516px;
        left: 189px;
        font-size: 25px;
    }
    .pfoto2 {
        position: absolute;
        top: 577px;
        left: 184px;
        font-size: 12px;
    }
    .foto3 {
        top: 681px;
        left: 3px;
    }
    .h2foto3 {
        top: 739px;
        left: 160px;
    }
    .pfoto3 {
        top: 792px;
        left: 145px;
        font-size: 11px;
    }
    .copyright-footer {
        width: 88.5%;
        top: 900px;
    }
}